@model PostViewModel
@{
    ViewData["Title"] = "Add Post";
}
<h1>Add  Page</h1>

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New </h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post" asp-action="AddPost">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PostTitle" class="control-label"></label>
                            <input asp-for="PostTitle" class="form-control" />
                            <span asp-validation-for="PostTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PostTopic" class="control-label"></label>
                            <input asp-for="PostTopic" class="form-control" />
                            <span asp-validation-for="PostTopic" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PostText" class="control-label"></label>
                            <input asp-for="PostText" class="form-control" />
                            <span asp-validation-for="PostText" class="text-danger"></span>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="ProfileImage" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  