@model PostModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@{
    string title = ViewBag.Action + " Story";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="PostTitle">Title</label>
        <input asp-for="PostTitle" class="form-control">
        <span asp-validation-for="PostTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PostTopic">Topic</label>
        <input asp-for="PostTopic" class="form-control">
        <span asp-validation-for="PostTopic" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostText">Text</label>
        <input asp-for="PostText" class="form-control">
        <span asp-validation-for="PostText" class="text-danger"></span>
    </div>

    @*
          <div class="form-group">
              <label asp-for="Poster.Id">Poster</label>
              <select asp-for="Poster.Id" class="form-control">
                  <option value="">select a User</option>
                  @foreach (AppUser g in ViewBag.Users)
                  {
                      <option value="@g.Id">@g.UserName</option>

                  }
              </select>
          </div>  Removed due to identity, grabbing user from the User.identity
        ++++  That was to select the user from a drop down box , now is not in use.  ++++++
    *@


    <input type="hidden" asp-for="PostID" value=@Model.PostID />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Stories"
       class="btn btn-primary">Cancel</a>
</form>
@*  <input type="hidden" asp-for="Name" value=@User.Identity.Name />  removed from the story model*@