@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Your Adventures</h1>


    <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="AddPost">To add a post of your own</a>
